<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <a href="/">Go Back</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>ID</th>
                <th>User Level</th>
                <th>Actions</th>
            </tr>
        </thead>
            {% for user in users %}]
                <tr>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.id}}</td>
                    {% if user.user_lvl > 1%}
                    <td>Admin</td>
                    {% else %}
                    <td>Normal</td>
                    {% endif %}
                    <td><a href="{{user.id}}/delete">Delete </a></td>
                </tr>
            {% endfor %}
    </table>
</body>
</html>